EKirtasiye.KadiOgluService/Connected Services/KadiService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UrunListesi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciKod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stokDurum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UrunListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UrunListesiResult" type="tns:ArrayOfUrunler" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUrunler">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Urunler" nillable="true" type="tns:Urunler" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Urunler">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Logicalref" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Aktif" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Kodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UreticiKod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Kategori" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fiyatHam" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="fiyat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="fiyatTuru" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Kdv" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stok" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BirimAd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UstKategori" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrtaKategori" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AltKategori" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iskonto1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iskonto2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ozellik1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ozellik2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ozellik3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UrunListesi2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciKod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stokDurum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SonGuncellenme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OlusturmaTarihi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UrunListesi2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UrunListesi2Result" type="tns:ArrayOfUrunler" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UrunListesiSoapIn">
    <wsdl:part name="parameters" element="tns:UrunListesi" />
  </wsdl:message>
  <wsdl:message name="UrunListesiSoapOut">
    <wsdl:part name="parameters" element="tns:UrunListesiResponse" />
  </wsdl:message>
  <wsdl:message name="UrunListesi2SoapIn">
    <wsdl:part name="parameters" element="tns:UrunListesi2" />
  </wsdl:message>
  <wsdl:message name="UrunListesi2SoapOut">
    <wsdl:part name="parameters" element="tns:UrunListesi2Response" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="UrunListesi">
      <wsdl:input message="tns:UrunListesiSoapIn" />
      <wsdl:output message="tns:UrunListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UrunListesi2">
      <wsdl:input message="tns:UrunListesi2SoapIn" />
      <wsdl:output message="tns:UrunListesi2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UrunListesi">
      <soap:operation soapAction="http://tempuri.org/UrunListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrunListesi2">
      <soap:operation soapAction="http://tempuri.org/UrunListesi2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UrunListesi">
      <soap12:operation soapAction="http://tempuri.org/UrunListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrunListesi2">
      <soap12:operation soapAction="http://tempuri.org/UrunListesi2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://b2b.kadioglukirtasiye.com.tr/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://b2b.kadioglukirtasiye.com.tr/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>